@import 'scss/main';

footer {
  background-color: #f8f8f8;
  text-align: center;
  font-weight: 400;
  font-size: $small-size;
  color: $primary-color;
  padding: 1.5rem 0;
  margin: 2.25rem -1rem -1rem -1rem;
}
