@import 'scss/main';

.cart-container {
  height: 70vh;
  .cart__title {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .cart__empty {
    text-align: center;
    margin-top: 5rem;
  }

  .cart_card-block {
    width: 100%;
  }

  .cart__price-total {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 2rem 0;

    span {
      font-weight: 400;
    }
  }

  .cart__buy-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fa-check-circle {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: $large-size;
      color: $primary-color;
    }

    p {
      font-size: 0.875rem;
    }
  }
}
