@import 'scss/main';

.search__box {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  padding: 0.5rem 2rem;
  font-size: 0.875rem;
  font-family: 'Noto Sans KR', sans-serif;
  color: $primary-color;
}

.search__box::placeholder {
  color: $hover-color;
}

.search__box--btn {
  position: absolute;
  padding: 0.5rem 0.5rem 0.5rem 0;
  top: 1.125rem;
  left: 1rem;
  font-size: 1rem;
}

.close-btn {
  position: absolute;
  font-size: 1.25rem;
  top: 20px;
  right: 24px;
}
