@import 'scss/main';

.products-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;

  .products__title {
    text-align: center;
  }

  .products__categorys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 260px;
    margin: 0 auto;

    li:first-child {
      margin-top: 2rem;
    }

    li {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  margin-top: 1rem;
}

.more__btn-container {
  display: flex;
  justify-content: center;

  .more__btn {
    border: 1px solid $primary-color;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: $primary-color;
    font-size: $primary-size;
  }

  .more__btn:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

@include atTablets {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }

  .products-container {
    .products__categorys {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }
  }
}
