@import 'scss/main';

.products-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;

  .products__title {
    text-align: center;
  }

  .products-menus {
    width: 26rem;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    li {
      .active {
        color: $primary-color;
      }
      a {
        display: inline-block;
        padding: 1rem;
        font-size: 13px;
        font-weight: 400;
        color: $secondary-color;
        cursor: pointer;
      }

      a:hover {
        color: $primary-color;
      }
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

@include atTablets {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }
}
