@import 'scss/main';

.sort-box {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;

  padding: 1rem;
  z-index: 100;

  &__upper {
    .close-btn {
      border: none;
    }
    &__header {
    }
  }

  &__menu {
    margin-top: 2.5rem;

    .active {
      color: $primary-color;
    }

    li {
      padding-top: 0.5rem;
      padding-right: 0.5rem;
      padding-bottom: 0.5rem;

      margin-bottom: 0.5rem;
      color: $hover-color;
      cursor: pointer;
    }

    li:hover {
      color: $primary-color;
    }
  }
}

@include atTablets {
  .sort-box {
    width: 50%;
    border-left: 1px solid $light-color;

    .sort-box__dimmed {
      position: fixed;
      top: 0;
      right: 50%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.9;
      cursor: pointer;
      z-index: 75;
    }
  }
}

@include atDesktop {
  .sort-box {
    display: none;
  }

  .sort-box__dimmed {
    display: none;
  }
}
