@import 'scss/main';

.admin-container {
  max-width: 22.625rem;
  margin: 4rem auto 12rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $primary-size;

  .admin__title {
    margin-bottom: 2rem;
  }

  .admin-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 0.5rem;
  }

  select {
    margin-bottom: 1rem;
    padding: 0.25rem 0;
  }

  .admin__product--title {
    margin-bottom: 1rem;
    padding: 0.25rem;
  }

  textarea {
    margin-bottom: 1rem;
    padding: 0.25rem;
    font-size: $primary-size;
    font-family: 'Noto Sans Kr', sans-serif;
  }

  .admin__product--price {
    padding: 0.25rem;
  }

  .admin-submit {
    margin-top: 2rem;
    padding: 0.5rem 0;
    border: none;
    color: #fff;
    background-color: $primary-color;
  }

  .admin-submit:hover {
    background-color: $secondary-color;
  }
}
