{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["airbnb"],
  "plugins": ["import", "react-hooks"],
  "rules": {
    // fixation
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/no-array-index-key": 1,
    "react/jsx-one-expression-per-line": "off",
    "no-undef": "off",
    "max-len": "off",
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-nested-ternary": "off",
    "operator-linebreak": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",

    // changeable
    "object-curly-newline": "off",
    "import/no-unresolved": "off",
    "no-unused-vars": "off",
    "no-restricted-syntax": "off",
    "prefer-destructuring": 1,
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "prefer-const": "off",
    "react/destructuring-assignment": "off"
  }
}
