{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["airbnb"],
  "plugins": ["import", "react-hooks"],
  "rules": {
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off", // js파일에서 jsx문법을 사용했을 때 오류
    "react/jsx-one-expression-per-line": "off", //
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "max-len": "off",
    "spaced-comment": "off",
    "no-param-reassign": "off",
    "import/no-unresolved": "off",
    "react/jsx-props-no-spreading": "off",
    "func-names": "off",
    "no-lonely-if": "off",
    "brace-style": "off",
    "react/no-unused-prop-types": "off",
    "react/no-array-index-key": 1,
    "operator-linebreak": "off",
    "consistent-return": "off",
    "prefer-destructuring": "off",
    "implicit-arrow-linebreak": "off",
    "no-unused-vars": 1,
    "no-restricted-syntax": "off",
    "prefer-const": 1,
    "no-nested-ternary": 1,
    "react/prefer-stateless-function": 1
  }
}
