@import 'scss/main';

.dropZone-container {
  display: flex;
  flex-direction: column;

  .dropZone {
    width: 100%;
    height: 15rem;
    border: 1px solid $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;

    .fa-plus {
      font-size: 3rem;
    }
  }
  .upload__image-container {
    .upload__image {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  }
}
