@import 'scss/main';

.sort-box__desktop {
  position: absolute;
  width: 150px;
  max-width: 150px;
  max-height: 324px;
  border: 1px solid #eee;
  background-color: #fff;
  border-right: none;
  overflow-y: auto;

  right: 0;
  top: 10.5rem;

  ul {
    text-align: end;
    font-size: $small-size;
    color: $hover-color;
  }

  li:first-child {
    padding-top: 0.5rem;
  }

  .active {
    color: $primary-color;
  }

  li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    cursor: pointer;
  }

  li:last-child {
    padding-bottom: 0.5rem;
  }

  li:hover {
    color: $primary-color;
  }
}
