// Colors
$primary-color: #444;
$secondary-color: #999;
$light-color: #e7e7e7;
$hover-color: #ccc;

// FontSize
$small-size: 0.75rem;
$primary-size: 0.875rem;
$large-size: 1.5rem;

// Media queries
$screen-md-min: 768px;
$screen-lg-min: 1025px;
